{% extends "epic/base_layout.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block extrahead %}
{{ block.super }}
{% endblock extrahead %}

{% block content %}
{{ block.super }}
{{ datasheet_form.media }}
{{ part_formset.media }}

<form method="POST" enctype="multipart/form-data">
<div class="form-horizontal">
{% crispy datasheet_form %}
</div>
{% crispy part_formset %}

<div class="form-actions">
  <input type="submit" name="save" value="Save" class="btn btn-primary">
  <input type="submit" name="cancel" value="Cancel"
	 class="btn btn-default">
</div>
</form>

<br>

{% endblock content %}
