{% extends "epic/base_layout.html" %}

{% block buttons %}
  <a class="btn btn-default"
     href="{% url 'epic:epic_index' %}">
    Up <i class="glyphicon glyphicon-chevron-up"></i>
  </a>

  <a href="{% url 'epic:vendor_add' %}" class="btn btn-default">
    Add New Vendor <i class="glyphicon glyphicon-plus"></i>
  </a>
{% endblock buttons %}

{% block content %}
{{ block.super }}

<div class="panel panel-default">
  <div class="panel-heading">Existing Vendors</div>
  <div class="panel-body">
    {{ list_pager|safe }}
    <ul>
      {% for vendor in vendor_list %}
      <li>{{ vendor.html_link|safe }}</li>
      {% endfor %}
    </ul>
    {{ list_pager|safe }}
  </div>
</div>

{% endblock content %}
